{
    "server": {
        "host": "{{ hailo_ollama_host }}",
        "port": {{ hailo_ollama_port }}
    },
    "library": {
        "host": "dev-public.hailo.ai",
        "port": 443
    },
    "main_poll_time_ms": 200
}
